*{
    background-color: rgb(133, 98, 241);
}
a {
    color: rgb(104, 255, 144);
}
p {
    color: hsl(208, 100%, 97%);
}
img {
    height: 200px;
    width: 200px;
   
}
#wideputin {
    height: 500px;
    width: 1510px;
}